.circle {
	width: 20px;
	height: 20px;
	background-color: #ccc;
	display: inline-block;
}
.punteo {
	display: flex;
	justify-content: center;
	align-items: center;
  
}
.punteo p {
	font-size: 20px;
  margin-left: 10px;
  margin-right: 100px;
}

.imgcarreras{
  margin-top: 50px;
  margin-left: 150px;
  
  width: 20vw;
  
}

.opiniones{
  color: rgb(29, 29, 29)
}

.lista-de-info{
  font-size: 25px;
}