.slider-home .indicators{
  display: none;
}

.img-home{
  box-shadow: inset 0 0 0 1000px rgba(1, 16, 40, 0.63);
} 

.banner{
    font-weight: 300;
}
@media only screen and (min-width: 1220px){
  .banner{
    font-size: 80px;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1220px){
  .banner{
    font-size: 60px;
  }
}
@media only screen and (min-width: 500px) and (max-width: 800px){
  .banner{
    font-size: 50px;
  }
}
@media only screen and (max-width: 500px){
  .banner{
    font-size: 40px;
  }
}

.slider .indicators .indicator-item.active{
  background-color: #081B37;
}
.sl-home{
  height: 411px!important;
}
.textodeabajo{
  color: white;
}
/* ACA PARA ABAJO ANIMACIONES HECHAS POR SANCHO */
.intro-anim{
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items:center;
  justify-content: center;
}
.slider-anim{
  background: #081B37;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%); 
}
.intro-text-anim{
  color: aliceblue;
  font-family: sans-serif;
  font-size: 3em;
}
.hide-anim{
  background: black;
  overflow: hidden;
}
.hide-anim span{
  transform: translateY(100%);
  display: inline-block;
}