/* NAVBAR lo hizo sancho no se si funciona */
.navbar{
  
  background-color: #081B37;
  color: #ffffff;
  
}
ul li{
  
  background-color:#081B37;
}
.dropdown-content li>a, .dropdown-content li>span{
  color: #ffffff;

}
.divider{
  background-color: #081B37;
}

.brand-logo{
  margin-left: 10vw;
}
.dropdown-areas{
 margin-right: 10vw;
}

/* FOOTER */
.footer{
  height: 50px;
  background-color: #081B37;
  /* background-color: #f00; */
  bottom: 0;
  width: 100%;
}
