/* NAVBAR */
.navbar{
  background: #081B37;
  color: #ffffff; 
}
.brand-logo{
  margin-left: 10vw;
}
.dropdown-areas{
 margin-right: 10vw;
}

/* FOOTER */
.footer{
  height: 50px;
  background-color: #081B37;
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
}